<%= stylesheet_link_tag "upload" %>
<h1>CSV Upload</h1>
<h2>Please upload your csv</h2>
<% if flash[:error] %>
<div id="errors_message">
  <h1>
    Something went wrong:
  </h1>
  <h3><%= flash[:error] %></h3>
</div>
<% end %>

<%= form_with(url: {action: :upload}, multipart: true, local: true) do %>
  <label for='csv_file'>File to Upload</label>
  <%= file_field_tag  'csv_file', :accept => @accept_list.join(', '), :required => true %>
  <%= submit_tag("Submit") %>
<% end %>

<h3><%= link_to "Back", hourly_productions_path %><h3>
