// Place all the styles related to the HourlyProductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1, h2, h3 {
  text-align: center;
}

tr {
  height: 5%;
}

td {
  text-align: center;
  width: 30%;
}

table {
  margin: auto;
}

select {
  display: block;
  margin: 2% auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: lightgray;
}
