<h1>Hourly Production</h1>
<h3><%= link_to "Upload data", upload_path %><h3>
<% if @hourly_productions.any? %>
  <h2>Select another date</h2>
  <%= form_with(url: {action: :search}, multipart: true, local: true) do %>
    <%= select_tag  'date', options_for_select(@dates, @date), :onchange => "this.form.submit();" %>
  <% end %>
  <h3>
    <%= @day_production %>
    were producted that day.
    <br/>
    <% if @production_by_inverter.any? %>
        <% @production_by_inverter.each do |key, value| %>
          <%= value %>
          by inverter
          <%= key %>
          <br/>
        <% end %>
    <% end %>
  </h3>
  <table>
    <tr>
      <th>Inverter</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Production</th>
    </tr>

    <% @hourly_productions.each do |hourly_production| %>
      <tr>
        <td><%= hourly_production.inverter_id %></td>
        <td><%= hourly_production.date %></td>
        <td><%= hourly_production.hour %>h</td>
        <td><%= hourly_production.production %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>No data yet</h2>
<% end %>
